.text-color-1 {
  color: #5E7793
}

.call_list__table_container {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 0px #E9EDF3;

}

.call_list__table {
  width: 100%;
}

.call_list__table thead tr td{
  //padding: 20px;
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #5E7793;
}

.call_list__table td {
  padding-left: 7px;
}

.call_list__table tbody td { 
  vertical-align: middle;
  border-top: 1px solid #F1F4F9;
  font-size: 15px;
}
.call_list__table tbody td:last-child { 
  text-align: right;
  padding-right: 5px;
}
.call_list__table tbody td:last-child > div { 
  display: flex;  
  justify-content: right;
}

.call_list__table tbody tr { 
  height: 65px;
}

.call_list__table tbody tr:hover { 
  background: #F1F4F9;
}

/*#region Размеры столбцов*/

.call_list__table__col_1 {
  width: 4%;
  //background: red;
}
.call_list__table__col_2 {
  width: 7%;
  //background: green;
}
.call_list__table__col_3 {
  width: 9%;
  //background: pink;
}
.call_list__table__col_4 {
  width: 24%;
  //background: greenyellow;
}
.call_list__table__col_5 {
  width: 15%;
  //background: burlywood;
}
.call_list__table__col_6 {
  width: 8%;
  //background: brown;
}
.call_list__table__col_7 {
  //width: 33%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.call_list__table__col_7 .dropdow {
  width: fit-content;
}

.reset_duration_date_filter{
  display: flex;
  flex-direction: row;
}
.reset_duration_date_filter p {
  margin-right: 5px;
}

.reset_duration_date_filter div:hover path {
  fill: #002CFB;
  cursor: pointer;
}

.call_list__table__section_separator:hover{
  background:inherit !important;
}

.call_list__table__date_and_count_row{
  justify-content: left !important;
}

.call_list__table__date_and_count_row var sup{
  color: #899CB1;
  font-size: 12px;
  margin-left: 5px;
}

/*#endregion */

/*Стили для элементов колонки «Оценка»*/
.assessment_excellent {
  border-color: #28A879;
  background: #DBF8EF;
  color: #28A879;
}
.assessment_good {
  border-color: #ADBFDF;
  background: #D8E4FB;
  color: #122945;
}
.assessment_bad {
  border-color: #EA1A4F;
  background: #FEE9EF;
  color: #EA1A4F;
}

.assessment_excellent, .assessment_good, .assessment_bad {
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 8px 6px 8px;
  display: inline-block;
}

.assessment_script_not_used {
  color: #EA1A4F;
}

.person_avatar_img {
  width: 32px;
  height: 32px;
}